meta property='og:title' content='Chatrank - Member ranking by message number DiscordBot'
meta property='og:type' content='website'
meta property='og:url' content=root_url
meta property='og:image' content=url_to_image('chatrank-ogp.png')
